form(method='get')
  label(for='charterRentRadio') 전월세:
  input(type="radio", id="charterRentRadio", name="charterRent", value="전월세", checked="checked")
  label(for='charterRadio') 전세:
  input(type="radio", id="charterRadio", name="charterRent", value="전세")
  label(for='rentRadio') 월세:
  input(type="radio", id="rentRadio", name="charterRent", value="월세")
  button(type='submit') Search