form(method='get')
  label(for='location') Location:
  select(name='location')
    option(value='진주시') 진주시
    option(value='망경동') 망경동
    option(value='충무공동') 충무공동
    option(value='상평동') 상평동
    option(value='봉곡동') 봉곡동
    option(value='주약동') 주약동
    option(value='강남동') 강남동
    option(value='칠암동') 칠암동
    option(value='상봉동') 상봉동
    option(value='초전동') 초전동
    option(value='남성동') 남성동
    option(value='동성동') 동성동
    option(value='인사동') 인사동
    option(value='신안동') 신안동
    option(value='봉래동') 봉래동
    option(value='장대동') 장대동
    option(value='옥봉동') 옥봉동
    option(value='상대동') 상대동
    option(value='중안동') 중안동
    option(value='계동') 계동
    option(value='하대동') 하대동
    option(value='평거동') 평거동
    option(value='이현동') 이현동
    option(value='수정동') 수정동
    option(value='유곡동') 유곡동
    option(value='가좌동') 가좌동
    option(value='호탄동') 호탄동
    option(value='장재동') 장재동
    option(value='하촌동') 하촌동
    option(value='판문동') 판문동
    option(value='평안동') 평안동
    option(value='본성동') 본성동
  button(type='submit') Search

