extends ../layouts/filter.pug

block filterTitle
  span(class="title") 주거타입

block filterBtns
  +filterBtn('housingTypeBtn-1', '아파트')
  +filterBtn('housingTypeBtn-2', '오피스텔')
  +filterBtn('housingTypeBtn-3', '연립/다세대')
  +filterBtn('housingTypeBtn-4', '단독/다가구')