div(class='info-container detached-container except-content')
  div(class='info-box center-content')
    div(class='header-info')
      i(class="fa-solid fa-arrow-left")
      p(class='title') -
      i(class="fa-solid fa-x close_btn")
    p(class='sub-title') -
  div(class='info-box')
    p(class='title') 예측물량
    div(class='info-col-box pre-info')
      div(class='sub-info-box')
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 전세
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 월세
        p(class='text') 0호
  div(class='info-box')
      p(class='title') 면적별 예측물량
      <div id="type_area-graph-container" style="width:100%; height:200px;"></div>
  div(class='info-box')
    p(class='title') 건축연한별 예측물량
    <div id="built_year-graph-container" style="width:100%; height:200px;"></div>