mixin filterBtn(id, text, selectedClass = '')
  span(class=`filterBtn ${selectedClass}`, id=id)= text 

div(class='filter-container')
  block filterTitle
  div(class='filterBtns')
    block filterBtns