div(class='info-container house-container except-content')
  div(class='info-box center-content')
    div(class='header-info')
      i(class="fa-solid fa-arrow-left")
      p(class='title') -
      i(class="fa-solid fa-x close_btn")
    p(class='sub-title') -
  div(class='info-box')
    p(class='title') 예측물량
    div(class='info-col-box pre-info')
      div(class='sub-info-box')
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 전세
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 월세
        p(class='text') 0호