div(class='info-container house-container except-content')
  div(class='info-box center-content')
    div(class='header-info')
      i(class="fa-solid fa-arrow-left")
      p(class='title') -
      i(class="fa-solid fa-x close_btn")
    p(class='sub-title') -
  div(class='filter-container')
      div(class='filterBtns lease-filter')
        span(class='filterBtn').selected 전세
        span(class='filterBtn') 월세
        span(class='filterBtn') 전세가율(갭)
      div(class='filterBtns area-filter')
  //- 실거래가 차트
  div(class='info-box area-box')
  div(class='info-box')
    p(class='title') 예측물량
    div(class='info-col-box pre-info')
      div(class='sub-info-box')
        p(class='text') 0호