div(class='info-container except-content')
  div(class='info-box center-content')
    div(class='header-info')
      i(class="fa-solid fa-arrow-left")
      p(class='title') 가좌동
      i(class="fa-solid fa-x close_btn")
    p(class='subtitle') 2023년 4월
  div(class='info-box')
    p(class='title') 내용