div(class='info-container offi-container except-content')
  div(class='info-box center-content')
    div(class='header-info')
      i(class="fa-solid fa-arrow-left")
      p(class='title') -
      i(class="fa-solid fa-x close_btn")
    p(class='subtitle') -
  div(class='info-box')
    p(class='title') 예측물량
    div(class='info-col-box pre-info')
      div(class='sub-info-box')
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 전세
        p(class='text') 0호
      div(class='sub-info-box')
        p(class="tag") 월세
        p(class='text') 0호
  div(class='info-box')
    p(class='title') 단지별 예측물량
    p 가좌주공아파트
    ul(class='apt-lists')
      li 계약일 23.01.14
      li 가격 4,500/7
      li 전용면적 84.99
      li 동/층 1/3