extends layouts/base

block content
  include ./partials/filter.pug
  <div id="type_area-graph-container" style="width:100%; height:400px;"></div>

block scripts
  script.
    const region = !{JSON.stringify(region)};
  script.
    const charterRent = !{JSON.stringify(charterRent)};
  script.
    const result = !{JSON.stringify(result)};
  script(src="client/js/type_area.js")