/* 사이드바 */
.side-container {
  position: absolute;
  z-index: 2;
  margin: 10px;
}

/* 정보창 */
.modal-container {
  position: absolute;
  z-index: 3;
}

/* 지도 */
#map {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.dong-box {
  background-color: #5963d9;
  padding: 4px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  border-radius: 3px;

  &.no-count {
    background-color: gray;
    > .dong-title {
      color: #dbdce8;
    }
  }
}

.dong-title {
  color: yellow;
  font-size: 0.9em;
}

.dong-count {
  color: white;
  font-size: 1.2em;
}
