extends ../../layouts/filter.pug

block filterTitle
  span(class="title") 예측

block filterBtns
  +filterBtn('predictionMonthBtn-7', '7월', 'selected')
  +filterBtn('predictionMonthBtn-8', '8월')
  +filterBtn('predictionMonthBtn-9', '9월')
  +filterBtn('predictionMonthBtn-10', '10월')
  +filterBtn('predictionMonthBtn-11', '11월')
  +filterBtn('predictionMonthBtn-12', '12월')